{% extends "kmdmarche/layout.html" %}
{% block content %}
          <center><font face="Comic Sans MS"><h2>please enter your nick name!</h2>
          <h3>TIME: {{ time }}</h3>
          <h1>>>>>></h1></font></center>
          <form action="/kmdmarche/log-in" method="post">
            <div>
              <center><font face="Comic Sans MS"><h3>Nick Name：<input type="text" name="name" /></h3></font></center>
            </div>

            <center><font face="Comic Sans MS">
              <h1>>>>>></h1>
              <p><input type="submit" value="Log in" style="color:#000000;background-color:#eeb417;font-size:30;width:440px;height:50px" /></p></font></center>
            <!-- <p><input type="submit" class="btn btn-warning" value="登録" /></p> -->
          </form>
{% endblock %}
