{% extends "kmdmarche/layout.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="/kmdmarche/static/css/style2.css">
</head>
    <center><font face="Comic Sans MS"><h1>{{menu_name}}</h1>
    <h1>>>>>></h1>
    <h2>Your balance : {{ info }}</h2>
    <h2>Money you paid {{ spendcoin }}</h2>
    <h2>Money you received {{ getcoin }}</h2>
    <h1>>>>>></h1>
    </font>

    <table width="100%" height="70%">
      <tr align="center">
      <th bgcolor="#eeb417"><font face="Comic Sans MS">Buyer</font></th>
      <th bgcolor="#eeb417"><font face="Comic Sans MS">Time</font></th>
      <th bgcolor="#eeb417"><font face="Comic Sans MS">Item</font></th>
      <th bgcolor="#eeb417"><font face="Comic Sans MS">Money</font></th>
      <th bgcolor="#eeb417"><font face="Comic Sans MS">Seller</font></th>
      </tr>
      <tr align="center">
      <td>のぞむ</td>
      <td>{{time}}</td>
      <td>コーヒー</td>
      <td>２</td>
      <td>ひろ子</td>
      </tr>
      <tr align="center">
      <td>のぞむ</td>
      <td>{{time}}</td>
      <td>ピアノ演奏</td>
      <td>４</td>
      <td>ようこ</td>
      </tr>
      <tr align="center">
      <td>のぞむ</td>
      <td>{{time}}</td>
      <td>タロット占い</td>
      <td>５</td>
      <td>６</td>
      </tr>
      <tr align="center">
        <td>のぞむ</td>
        <td>{{time}}</td>
        <td>コーヒー</td>
        <td>19</td>
        <td>ひろ子</td>
      </tr>
      <tr align="center">
        <td>のぞむ</td>
        <td>{{time}}</td>
        <td>ピアノ演奏</td>
        <td>1</td>
        <td>ようこ</td>
      </tr>
      <tr align="center">
        <td>のぞむ</td>
        <td>{{time}}</td>
        <td>ピアノ演奏</td>
        <td>11</td>
        <td>ようこ</td>
      </tr>
      <tr align="center">
        <td bgcolor="RED">ひろ子</td>
        <td>{{time}}</td>
        <td>コーヒー</td>
        <td bgcolor="RED">9</td>
        <td>のぞむ</td>
      </tr>
      <tr align="center">
        <td>のぞむ</td>
        <td>{{time}}</td>
        <td>ピアノ演奏</td>
        <td>1</td>
        <td>ようこ</td>
      </tr>
      <tr align="center">
        <td>のぞむ</td>
        <td>{{time}}</td>
        <td>タロット占い</td>
        <td>9</td>
        <td>６</td>
      </tr>
      </table>


      <font face="Comic Sans MS">
      <h1>>>>>></h1>
      <button type="button" style="color:#000000;background-color:#d8bfd8;font-size:30;width:220px;height:50px"　name="back" onclick="location.href='/top'" value="sss">Back to Menu</button></font></center>


{% endblock %}
