{% extends "layout.html" %}
{% block content %}
    <h1>{{menu_name}}</h1>
    <p>{{ info }}</p>
    <!-- <p><a href="/mypage">マイページはこちら！</a></p> -->
    <button type="button" class="btn btn-warning"　name="mypage" onclick="location.href='/mypage'" value="fff">
    <font size="3">mypage</font>
    </button>

<body>
      <form action="{{url_for('event')}}" method="get">
            <input type="submit" name="submit" value="Retry">
            <input type="submit" name="submit" value="Quit">
        <br>
            <!-- <h2>{{data}}</h2> -->
            <h2>QR image</h2>
            <!-- <img src="{{filename}}" alt="{{filename}}" >
            <img  src="{{fig}}"> -->
            <img src="{{qr_b64data}}" alt="{{qr_name}}" >
            <br>
    <button type="button" class="btn btn-info"　name="back" onclick="location.href='/top'" value="sss">メニューに戻る</button>
</body>


{% endblock %}
