{% extends "layout.html" %}
{% block content %}
    <h1>{{menu_name}}</h1>
    <p>{{ info }}</p>
    <form action="サーバー？" method="post">
        <div>
            <label for="shop">Open a shop?</label>
            <input type="text" id="shop" name="shop">
        </div>
        <div>
            <label for="time">when?</label>
            <input type="time" id="time" name="time">
        </div>
        <input type="submit" class="btn btn-warning"　value="出店する">
</form>
<button type="button" class="btn btn-info"　name="back" onclick="location.href='/top'" value="sss">メニューに戻る</button>

{% endblock %}
