{% extends "layout.html" %}
{% block content %}
      <center><font face="Comic Sans MS">
        <h1>Success!</h1>
    <h1>Good luck your business!</h1>

    <h1>>>>>></h1>
    <button type="button" style="color:#000000;background-color:#eeb417;font-size:30;width:440px;height:50px"　name="shops" onclick="location.href='/ownerlist'" value="fff">
    <font size="3">Shop List</font></button>
    <h1>>>>>></h1>
    <button type="button" style="color:#000000;background-color:#d8bfd8;font-size:30;width:220px;height:50px"　name="back" onclick="location.href='/top'" value="sss">Back to Menu</button>
    </font></center>
{% endblock %}
